<% include partials/header %>

<div class="level">
</div>

<div class="columns">
  <div class="column is-3">
  </div>
  <div class="column is-6">
    <div class="box is-half">
      <form class="" action="/user/<%= id %>/edit-user" method="PUT">
        <div class="field">
          <label class="label is-large">Username</label>
          <div class="control has-icons-left">
            <input class="input is-medium" type="text" name="username" value="<%= user.username%>">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>

        <div class="field">
          <label class="label is-large">Current City</label>
          <div class="control has-icons-left">
            <input class="input is-medium" type="text" name="current_city" value="<%= user.current_city %>">
            <span class="icon is-small is-left">
              <i class="fa fa-envelope"></i>
            </span>
          </div>
        </div>
        <input class="button is-info is-hovered" type="submit" name="" value="Edit Profile">
      </form>
    </div>
  </div>
</div>

<% include partials/footer %>
