<% include partials/header %>

<section class="hero is-light is-bold is-medium">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Roam
      </h1>

    </div>
  </div>
</section>


<% include partials/footer %>
