/*body {
  background-image: url("http://ww4.hdnux.com/photos/40/73/42/8632511/3/rawImage.jpg");
}

.home-hero {
    background-image: url("http://lorempixel.com/1920/1080/city");
}

.navbar-opacity {
  background-color: transparent;
}*/
